/*PAGE D'ACCUEIL*/
/*ALL*/
* 
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
/*HEADER*/
header
{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1
{
    font-family: 'Shrikhand', cursive;
}
/*MAIN*/
.localisation
{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: medium;
    padding-top: 4%;
    height: 35px;
    padding-right: 7%;
    background-color: gainsboro;
    box-shadow: 0px 4px 5px 0px lightgrey inset;
}
main i
{
    padding-right: 5%;
}
.reservation
{
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-align: center;
    margin-left: 15%;
    width: 70%;
    padding-top: 10%;
}
.discover
{
    display: flex;
    justify-content: center;
    width: 95%;
    margin-left: 2.5%;
    font-weight: 300;
    font-size: large;
    text-align: center;
    margin-top: 3%;
}
.list
{
    margin-bottom: 18%;
}
.script p
{
    margin-left: 21%;
    margin-top: 8%;
    width: 50%;
    text-align: center;
    padding: 3%;
    border-radius: 50px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
}
.script
{
    width: 100%;
    height: 270px;
    background-color: #F5F5F5;
}
.working
{
    width: 90%;
    margin-left: 7%;
    margin-top: 10%;
    margin-bottom: 8%;
}
.etape
{
    position:relative;
    width: 55%;
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 10%;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: 11%;
    padding-left: 17%;
    border-radius: 20px;
    background-color: #F5F5F5;
    box-shadow: 2px 2px 20px lightgray;
    font-weight: 600;
}
.number
{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -3%;
    top: 35%;
    color: white;
    background-color: #9356DC;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-weight: 400;
    font-size: small;
}
.logo
{
    padding: 0;
    margin-left: -15%;
    margin-right: 10%;
    color: grey;
}
.etape:hover
{
    background-color: #9356DC20;
    color: black;
}
.etape:hover .logo
{
    color: #9356DC;
}
ul
{
    list-style-type: none;
}
/*RESTAURANTS*/
.lieux
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: #F5F5F5;
    padding-bottom: 10%;
}
.restaurant
{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    margin-bottom: 5%;
    box-shadow: 2px 2px 20px lightgray;
    width: 92%;
    margin-left: 4%;

}
.new
{
    position:absolute;
    color: #0e9070;
    font-weight: 500;
    background-color: #99E2D0;
    left: 69%;
    bottom: 83%;
    padding: 2% 4% 2% 4%;
    border-radius: 3px;
}
.restaurant img
{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

}
.restaurant figcaption
{
    height: 70px;
    margin-top: 5%;
    margin-left: 4%;
    color: black;
    width: 100%;
}
.restaurant p
{
    margin-top: 3%;
}
.lieux a
{
    text-decoration: none;
}
.lieux h2
{
    margin-left: 4%;
    margin-bottom: 7%;
    margin-top: 12%;
}
.fa-heart
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: -13%;
    margin-right: 3%;
}
.fa-heart:before
{
    font-size: x-large;
}
/*FOOTER*/
footer
{
    background-color: #303030;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}
footer li
{
    display: flex;
    margin-left: 5%;
    width: 90%;
}
.titre
{
    font-family: 'Shrikhand', cursive;
    font-size: large;
    margin-bottom: 5%;
}
.font
{
    margin-right: 12px;
}
.font2
{
    margin-right: 11px;
}
.fa-handshake-angle:before
{
    font-size: x-small;
}
.fa-utensils:before
{
    font-size: small;
}
.info
{
    margin-bottom: 2%;
}
/*PAGES RESTAURANTS*/

.fa-arrow-left::before
{
    font-size: x-large;
    margin-left: -75px;
    color: black;
}
.photo
{
    width: 100%;
}
.photo img
{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.menu h1
{
    font-family: 'Shrikhand', cursive;
    margin-left: 6%;
    font-size: 28px;
    padding-top: 5%;
    padding-bottom: 7%;
}
.carte
{
    position: absolute;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #F5F5F5;
    width: 100%;
    top: 47%;
    padding-bottom: 7%;
}
.tryptique
{
    background-color: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
}
.tryptique p
{
    margin-left: 26%;
    margin-top: 8%;
    margin-bottom: 20%;
    width: 40%;
    text-align: center;
    padding: 3%;
    border-radius: 50px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
}
.choix
{
    background-color: white;
    margin-left: 4%;
    width: 92%;
    border-radius: 12px;
    height: 65px;
    box-shadow: 2px 2px 20px lightgray;
    margin-bottom: 5%;
}
.choix h2
{
    font-size: 18px;
    margin-left: 3%;
    padding-top: 2%;
}
.choix h3
{
    font-size: 15px;
    font-weight: 400;
    margin-left: 3%;
    margin-top: 2%;
}
.variété
{
    margin-left: 6%;
    font-size: large;
    font-weight: 400;
    margin-bottom: 3%;
    margin-top: 6%;
    border-bottom: solid 2px #99E2D0;
    width: 12%;
}
.choix em
{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 7%;
    margin-top: -5.4%;
    font-weight: 600;
    font-style: normal;
}
.coeur::before
{
    position: absolute;
    display: flex;
    font-size: x-large;
    margin-top: -3%;
    margin-right: 2.5%;
}
.mail a
{
    text-decoration: none;
    color: white;
}
/*ANIMATIONS*/
.loader
{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 667px;
    background-color: #303030;
}
.loader div 
{
    /*display: inline-block;*/
    position: absolute;
    left: 8px;
    width: 16px;
    background: linear-gradient(#FF79DA, #9356DC);
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) 
{
    left: 44%;
    animation-delay: -0.24s;
}
.loader div:nth-child(2) 
{
    left: 50%;
    animation-delay: -0.12s;
}
.loader div:nth-child(3) 
{
    left: 56.3%;
    animation-delay: 0;
}
@keyframes loader
{
0% 
{
    top: 8px;
    height: 64px;
}
50%, 100% 
{
    top: 24px;
    height: 32px;
}
}
.loader h1
{
    position: absolute;
    font-family: 'Shrikhand', cursive;
    color: white;
    text-align: center;
    height: 667px;
    top: 35%;
    right: 27%;
}